# .Net build output
bin/
obj/
bin/
obj/
publish/
*.dll
*.exe
*.zip

# Visual Studio Code settings
.vscode/       

# secrets and connection strings
appsettings.Development.json
*.env

#docker volumes
.docker/

